body{
    background-color: beige;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 7%; /* đoạn này code thêm chỗ này cho các phần tử chỗ navbar nó 'dịch vào trong hơn á   */
}

.logo {
    width: 160px;
    cursor: pointer;
}

ul{
    list-style: none;
    flex: 1;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.toogle-icon {
    width: 70px;
    margin-left: 20px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color: #242424;
    border-radius: 50px;
}

.search-box input{
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}